html,
body {
    height: 100%;
    background-color: #f5f5f5;
}
    body#top {
        padding-top: 5rem;
    }
body#top.out {
    padding-top: 20px;
}

@media (min-width: 768px) {
body#top.out {
        padding-top: 5rem;
    }
}


.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

#userForm {
    /*padding-top: 40px;*/
    padding-bottom: 40px;
}

.from-register,
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.from-register label {
    font-size: 0.8rem;
    color: #999;
    text-align: left;
}

.invalid-feedback {
    text-align: left;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

.mod_customnav ul {
    list-style: none;
    padding: 0;
}

.mod_customnav li {
    display: inline;
}

.mod_customnav li:not(.last):after {
    content: " | ";
}

.jumbotron {
    padding: 3rem 2rem;
}

/** elements **/
.ce_player{
    margin-bottom: 2rem;
}

.mod_closeAccount,
.mod_personalData,
.ce_text,
.ce_downloads{
    padding: 3rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}


.jumbotron .mod_closeAccount,
.jumbotron .mod_personalData,
.jumbotron .ce_text,
.jumbotron .ce_downloads{
    padding: 0;
    margin: 0;
}

.jumbotron h3{
    font-size: 1.5rem;
}


/** comments **/

.comment_default {
	margin-bottom: 20px;
    padding: 10px 20px 20px;
    background: white;
    border-radius: 15px;
}

.ce_comments .widget-textarea label,
.ce_comments p.info {
	margin: 0;
	padding: 5px;
	font-weight: bold;
	color: #0069d9;
}

.ce_comments .comment {
	margin: 0;
	padding: 0 5px;
}

.ce_comments .reply {
	margin: 10px 0 0 30px;
	padding: 5px 10px;
    border: 1px solid #e9ecef;
    border-radius: 15px;
}

.ce_comments .reply p.info {
	background: transparent
}

.ce_comments .form {
    margin: 30px;
    background: #e9ecef;
    padding: 10px 30px 20px;
    border-radius: 15px;
}

.ce_comments .widget-textarea{
    display: flex;
    flex-direction: column;
}

.ce_comments .widget-checkbox{
    display: none;
}

.ce_comments .widget-submit {
	margin-top: 1.5em
}

.ce_comments .text {
	display: inline-block;
	width: 29%;
	margin-right: 1%
}

.ce_comments .formbody label {
	display: inline-block;
	width: 40%;
	margin-top: 0
}

.comment-form{
    position: relative;
}
#comment-help{
    position: absolute;
    right: 0;
}


/** news list **/

.mod_newslist h2{
	font-size:1.3rem;
}
.mod_newslist h3{
	font-size:1.1rem;
}
.mod_newslist p.info{
	font-size:0.8rem;
	margin-bottom:0;
}

.container{
    margin-bottom:50px;
}

.card-deck,
.card{
    margin-bottom: 30px;
}

.card-header{
    background: #e9ecef;
}
.card-footer{
    border: none;
    background: inherit;
}
*{
    hyphens: auto;
}

/** ref module **/

.inputLine th{
    padding-left: 0;
}


p.list{
    margin-bottom: 2px;
}