html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

body#top {
    padding-top: 0;
}

@media (min-width: 768px) {
    body#top {
        padding-top: 5rem;
    }
}


.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

#userForm {
    /*padding-top: 40px;*/
    padding-bottom: 40px;
}

.from-register,
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.from-register label {
    font-size: 0.8rem;
    color: #999;
    text-align: left;
}

.invalid-feedback {
    text-align: left;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

.mod_customnav ul {
    list-style: none;
    padding: 0;
}

.mod_customnav li {
    display: inline;
}

.mod_customnav li:not(.last):after {
    content: " | ";
}

